@{
    ViewBag.Title = "PR_Request";
}




@using ProductionApp.Models
@Html.Raw(TempData["msg"])
@{string status = ViewBag.Status;}

<h4 style="text-align:center;font-weight:400 !important;margin-bottom:50px">DANH SÁCH ĐỀ NGHỊ SUẤT ĂN ĐẶC BIỆT</h4>
<a href="@Url.Action("TeaBreak1", "TeaBreak")" class="btn btn-primary btn-sm" style="text-align:right;margin-bottom:10px">Add New</a>
@if (ViewBag.per > 1)
{
    <a href="#" class="btn btn-primary btn-sm" style="text-align: right; margin-bottom: 10px" data-toggle="modal" data-target="#myModal1">Export Request</a>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" style="text-align: right; margin-bottom: 10px">Upload Group</button>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal2" style="text-align: right; margin-bottom: 10px">Upload TeaBreak</button>
}
<span>@(status == null ? "" : status.ToString())</span>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h5 class="modal-title">Xuất file Excel</h5>
            </div>
            <form action="@Url.Action("Export", "TeaBreak")" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ngày bắt đầu</label>
                        <input type="text" name="date" id="date1" class="form-control isdate" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Ngày kết thúc</label>
                        <input type="text" name="date1" id="date" class="form-control isdate" autocomplete="off">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <input name="submit1" type="submit" class="btn btn-info" value="Thực Hiện" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>

    <table class="table table-striped table-bordered">
        <tr style="background-color:#f5f5f5;border:1px solid #ddd">
            <td>No#</td>
            <td>Phòng</td>
            <td>Nội dung</td>
            <td>Ngày tạo</td>

            <td>Manager</td>
            <td>HR Manager</td>
            <td>HR Team</td>
            <td></td>
        </tr>
        <tr>
           
            @foreach(PR_TeaBreak_Request rq in ViewBag.list ?? new List<PR_TeaBreak_Request>()) {
               
            <tr style="border:1px solid #ddd">


                <td>@rq.ID</td>
                <td>@rq.TBL_DEPARTMENT_MST.NAME</td>
                <td>@rq.Content</td>
                <td>@string.Format("{0:MM/dd/yyyy}" ,rq.RequestDate)</td>


                @if(rq.ManagerStatus == -2) {
                    <td>
                        <span style="color:#ff0000 ;">Phê duyệt</span>
                    </td>
                } else {
                    <td>
                        <span style="color:#5b9b0a;"> Hoàn thành</span>

                    </td>
                }
                @if(rq.HRManagerStatus == -3) {
                    <td>
                        <span style="color:#ff0000 ;">Phê duyệt</span>
                    </td>
                } else {
                    <td>
                        <span style="color:#5b9b0a;"> Hoàn thành</span>

                    </td>
                }
                @if(rq.HRProcessStatus == -4) {
                    <td>
                        <span style="color:#ff0000 ;">Phê duyệt</span>
                    </td>
                } else {
                    <td>
                        <span style="color:#5b9b0a;"> Hoàn thành</span>

                    </td>
                }
                <td><a href="@Url.Action("Edit_TeaBreak","TeaBreak",new { id = rq.ID })" class="btn btn-info">Chi tiết</a></td>
            </tr>
            }
        </table>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            @using(Html.BeginForm("Upload_Group" ,"TeaBreak" ,FormMethod.Post ,new {
                enctype = "multipart/form-data"
            })) {<!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p class="modal-title"><span class="glyphicon glyphicon-folder-open icchontep"></span>&nbsp&nbsp&nbsp <b>Choose a file:</b></p>
                    </div>
                    <div class="modal-body">
                        <p>Choose a file: <input type="file" name="UploadedFile" class="form-control" /></p>
                    </div>
                    <div class="modal-footer">
                        <input type="Submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

            @using(Html.BeginForm("Upload_TeaBreak" ,"TeaBreak" ,FormMethod.Post ,new {
                enctype = "multipart/form-data"
            })) {<!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p class="modal-title"><span class="glyphicon glyphicon-folder-open icchontep"></span>&nbsp&nbsp&nbsp <b>Choose a file:</b></p>
                    </div>
                    <div class="modal-body">
                        <p>Choose a file: <input type="file" name="UploadedFile1" class="form-control" /></p>
                    </div>
                    <div class="modal-footer">
                        <input type="Submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            }

        </div>
    </div>

    @section scripts
    {
        <script>
            $('.isdate').datepicker({ dateFormat: "mm/dd/yy" });
        </script>
    }
