@using ProductionApp.Models
@model List<ViewCTOutputDetail>
@{
    ViewBag.Title = "WO Search";
    PROC_GET_LAST_TTS_UPDATE_Result LastTTSUpdate = ViewBag.LastTTSUpdate;
    List<ViewQCDetailComponentStt> ListComponentStt = ViewBag.ListComponentStt;
}
@section Styles {
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Content/themes/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
}
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
             <small>WO Search</small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN EXAMPLE TABLE PORTLET-->
@using (Html.BeginForm("OutputDetail","CTRptModule", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
<div class="portlet box gray">
    <div class="portlet-title">

    </div>
    <div class="portlet-body ">
        <div class="row margin-bottom-10 margin-top-20" id="DivShowData">
            <div class="row">
                <div class="table-responsive" style="align-items:center">
                    <table class="table table-striped table-bordered table-hover align-center" style="width:99%;">
                        <thead>
                            <tr style="background-color:darkseagreen;">
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">WO</th>
                                <th style="text-align:center">Asst</th>
                                <th style="text-align:center">Mfg Style</th>
                                <th style="text-align:center">Garm Style</th>
                                <th style="text-align:center">Garm Color</th>
                                <th style="text-align:center">Sel Style</th>
                                <th style="text-align:center">Business</th>
                                <th style="text-align:center">Fabric</th>
                                <th style="text-align:center">Fabric 2</th>
                                <th style="text-align:center">Size</th>
                                <th style="text-align:center">Plan Qty</th>
                                <th style="text-align:center">Plan Date</th>
                                <th style="text-align:center; background-color:khaki;">TTS Status</th>
                                <th style="text-align:center; background-color:khaki;">Status</th>
                                <th style="text-align:center; background-color:khaki;">Fabric Rcv</th>
                                <th style="text-align:center; background-color:khaki;">Spread Date</th>
                                <th style="text-align:center; background-color:khaki;">Cut Date</th>
                                <th style="text-align:center; background-color:khaki;">Sprd Body</th>
                                <th style="text-align:center; background-color:khaki;">Sprd Liner</th>
                                <th style="text-align:center; background-color:khaki;">Produce</th>
                                @*<th style="text-align:center; background-color:khaki;">Shift</th>*@
                                <th style="text-align:center; background-color:khaki;">MisMatch</th>
                                <th style="text-align:center; background-color:khaki;">Full Asst</th>
                                <th style="text-align:center; background-color:khaki;">TransferWH</th>
                                <th style="text-align:center; background-color:khaki;">TransferDate</th>
                            </tr>
                        </thead>
                        @if (Model != null)
                        {
                            double total = 0;
                        <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {                                    //total += Convert.ToDouble(Model[i].QUANTITY);
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model[i].WO</td>
                                    <td>@Model[i].Assortment</td>
                                    <td>@Model[i].MfgStyle</td>
                                    <td>@Model[i].Garment</td>
                                    <td>@Model[i].GarmentColor</td>
                                    <td>@Model[i].SellingStyle</td>
                                    <td>@Model[i].Business</td>
                                    <td>@Model[i].FabricCode</td>
                                    <td>@Model[i].FabricCode2</td>
                                    <td>@Model[i].Size</td>
                                    <td>@Model[i].Quantity</td>
                                    <td>@((Model[i].PlanDate).ToString("dd/MM"))</td>
                                    <td>@Model[i].TTS_STT</td>
                                    <td>@Model[i].Status</td>
                                    <td>@{ 
                                            var a = "";
                                            if (Model[i].Fabric_Recieved == Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                                            { a = ""; }
                                            else { a = Model[i].Fabric_Recieved.ToString("dd/MM HH:mm"); }
                                            @a
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var b = "";
                                            if (Model[i].WipDate == Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                                            { b = ""; }
                                            else { b = Model[i].WipDate.ToString("dd/MM HH:mm"); }
                                            @b
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var cc = "";
                                            if (Model[i].CutDate == Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                                            { cc = ""; }
                                            else { cc = Model[i].CutDate.ToString("dd/MM HH:mm"); }
                                            @cc
                                        }
                                    </td>
                                    <td>
                                        @{
                                        var Body = (Model[i].CutBody).ToString() == "0" ? "" : Model[i].CutBody.ToString();
                                        @Body   }
                                    </td>
                                    <td>@{
                                        var Liner = (Model[i].CutLiner).ToString() == "0" ? "" : Model[i].CutLiner.ToString();
                                         @Liner   }
                                    </td>
                                    <td>
                                        @{
                                        var Produced = (Model[i].Produced).ToString() == "0" ? "" : Model[i].Produced.ToString();
                                        @Produced   }
                                    </td>
                                    <td>@(0-Model[i].Discrapancy)</td>
                                    <td>@Model[i].FullAsst</td>
                                    <td>
                                        @{
                                            var TransferWH = (Model[i].TransferWH).ToString() == "0" ? "" : Model[i].TransferWH.ToString();
                                            @TransferWH   }
                                    </td>
                                    
                                    <td>
                                        @{
                                            var c = "";
                                            if (Model[i].TransferDate == Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                                            { c = ""; }
                                            else { c = Model[i].TransferDate.ToString("dd/MM HH:mm"); }
                                            @c
                                        }
                                    </td>
                                    
                                </tr>
                                }
                        </tbody>
                        }
                    </table>
                
                </div>
            </div>
            <!-- SHOW DETAIL TABLE AND COMPONENT-->
            <div class="row">
                <div class="table-responsive" style="align-items:center">
                    <table class="table table-striped table-bordered table-hover align-center" style="width:50%;">
                        <thead>
                            <tr style="background-color:darkseagreen;">
                                @*<th style="text-align:center">No.</th>
                                <th style="text-align:center">ID</th>*@
                                <th style="text-align:center">Cut Table No</th>
                                <th style="text-align:center">Cut Type</th>
                                <th style="text-align:center">Quantity</th>
                                <th style="text-align:center">Spread Date</th>
                                <th style="text-align:center">Part Name</th>
                                <th style="text-align:center">Part Name VNM</th>
                                <th style="text-align:center">Status</th>
                                <th style="text-align:center">QC Checking Date</th>
                                <th style="text-align:center">QC User</th>
                            </tr>
                        </thead>
                        @if (ListComponentStt != null)
                        {
                            <tbody>
                                @for (int i = 0; i < ListComponentStt.Count; i++)
                                {                                   
                                    <tr>
                                        @*<td>@(i + 1)</td>*@
                                            @if (@ListComponentStt[i].PartName == null)
                                            {
                                        @*<td>@ListComponentStt[i].TBL_ID</td>*@
                                        <td>@ListComponentStt[i].TBL_NO</td>
                                        <td>@ListComponentStt[i].Type</td>
                                        <td>@ListComponentStt[i].Qty</td>
                                        <td>@((ListComponentStt[i].SpreadDate).ToString("dd/MM hh:MM:ss") )</td>
                                            }
                                            else
                                            {
                                                <td colspan="4"></td>
                                            }
                                        @if(@ListComponentStt[i].PartName != null)
                                        { 
                                            <td>@ListComponentStt[i].PartName</td>
                                            <td>@ListComponentStt[i].PartName_VNM</td>
                                            <td>@ListComponentStt[i].Status_Name</td>
                                            <td>@((ListComponentStt[i].QC_Checking_Date).ToString("dd/MM hh:MM:ss"))</td>
                                            <td>@ListComponentStt[i].QC_User</td>
                                        }
                            </tr>
                                }
                            </tbody>
                      }
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
}

@section Scripts {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/themes/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/themes/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script>
    </script>
}