@{
    ViewBag.Title = "Báo cáo bất thường";
}

@using ProductionApp.Helpers
@using ProductionApp.Models
@model List<HR_ABN_Mst>



<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Báo cáo bất thường / Abnormal report
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="row">
    <div class="col-md-12">
        @if(ViewBag.per > 1) {
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#import"><i class="fa fa-upload"></i> 1.Upload báo cáo bất thường</button>
            @Html.Raw("►") <button type="button" class="btn btn-primary btn-sm" onclick="SendEmail()">2.Gửi mail thông báo</button>
            @Html.Raw("►")  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#download"><i class="fa fa-download"></i> 3.Tải báo cáo đã approve</button>

        } else {
            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "Abnormal")" style="margin-bottom: 10px">» Thêm mới / Add New</a>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12"><p id="uploadmss" class="message">@ViewBag.mss</p> </div>
    @Html.Raw(TempData["msg"])
</div>
<!-- Modal -->
<div class="modal fade" id="import" role="dialog">
    <div class="modal-dialog">

        <form method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chọn file để tải lên</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Chọn file: <input type="file" name="UploadedFile" id="UploadedFile" class="form-control" /></p>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <input type="hidden" name="control" value="upload" />
                    <input type="Submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </form>

    </div>
</div>
<!-- End Modal -->
<!-- Modal -->
<div class="modal fade" id="download" role="dialog">
    <div class="modal-dialog">

        <form method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tải về danh sách đã được Approve</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12"><p>Từ ngày:<input type="text" name="txtFromDate" id="txtFromDate" class="form-control  isdate" autocomplete="off" required> </p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><p>Đến ngày:<input type="text" name="txtToDate" id="txtToDate" class="form-control  isdate" autocomplete="off" required> </p></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="control" value="download" />
                    <input type="Submit" class="btn btn-primary" value="Download File" />
                </div>
            </div>
        </form>

    </div>
</div>
<!-- End Modal -->

<br />
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Request" aria-controls="Request" role="tab" data-toggle="tab">Request</a></li>
    <li role="presentation"><a href="#Abnormal" aria-controls="Abnormal" role="tab" data-toggle="tab">Abnormal</a></li>
</ul>



<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Request">

        @{ var ls =  ViewBag.list as List<HR_ABN_Request> ?? new List<HR_ABN_Request>();
        }
        <table class="table table-bordered" style="margin: auto;" id="data">
            <tr style="background-color:#f5f5f5">
                <th>No#</th>
                <th>Created Date</th>
                <th>Department</th>
                <th>Requester</th>
                <th>Approver</th>
                <th>HR Team</th>
                <th>Detail</th>
            </tr>
            @foreach(var order in ls) {

                <tr>
                    <td>@order.ID</td>
                    <td>@string.Format("{0:MM/dd/yyyy HH:mm:ss}" ,order.CreateDate)</td>
                    <td>@(order.TBL_USERS_MST != null ? order.TBL_USERS_MST.TBL_DEPARTMENT_MST.NAME : "")</td>

                    <td>@(order.TBL_USERS_MST != null ? order.TBL_USERS_MST.FULLNAME : "")</td>


                    @if(order.Status == 1) {
                        <td>
                            <span style="color:#ff0000;font-weight:bold">Pending</span>
                        </td>
                    } else if(order.Status == -1) {
                        <td>
                            <span style="color:#0000ff;font-weight:bold">Rejected</span>

                        </td>
                    } else if(order.Status > 1) {
                        <td>
                            <span style="color:#5b9b0a;font-weight:bold">Approved</span>

                        </td>
                    }
                    @if(order.Status <= 2) {
                        <td>
                            <span style="color:#ff0000;font-weight:bold">Pending</span>
                        </td>
                    } else if(order.Status == 3) {
                        <td>
                            <span style="color:#5b9b0a;font-weight:bold">Processed</span>

                        </td>
                    }
                    <td><a href="@Url.Action("EditAbn","Abnormal", new { id = order.ID })" class="btn btn-info btn-sm">Detail</a></td>
                </tr>
            }
        </table>


    </div>
    <div role="tabpanel" class="tab-pane fade" id="Abnormal">
        <div class="panel panel-default">
            <div class="panel-heading">Danh sách báo cáo chưa hoàn thành/ Report list is not complete</div>
            <div class="panel-body">
                <table id="tbScanCase" class="table table-striped table-bordered " style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="text-align: center">
                                Xưởng /Division
                            </th>
                            <th style="text-align: center">
                                Phòng /Department
                            </th>
                            <th style="text-align: center">
                                Ca làm việc /Shift
                            </th>
                            <th style="text-align: center">
                                Tổ /Line
                            </th>
                            <th style="text-align: center">
                                Mã NV /ID
                            </th>
                            <th style="text-align: center">
                                Họ và tên /Name
                            </th>
                            <th style="text-align: center">
                                Vị trí Công đoạn /Operation
                            </th>
                            <th style="text-align: center">
                                Ngày làm việc /Date
                            </th>
                            <th style="text-align: center">
                                Giờ bắt đầu ca làm việc /Shift start
                            </th>
                            <th style="text-align: center">
                                Giờ bắt đầu ca làm việc thực tế /Actual start
                            </th>
                            <th style="text-align: center">
                                Giờ kết thúc ca làm việc /Shift end
                            </th>
                            <th style="text-align: center">
                                Giờ kết thúc thực tế /Actual end
                            </th>
                            <th style="text-align: center">
                                Đi muộn /Late
                            </th>
                            <th style="text-align: center">
                                Về sớm /Soon
                            </th>
                            <th style="text-align: center">
                                Bất thường /Abnormal
                            </th>
                            <th style="text-align: center">
                                Admin
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if(Model != null) {
                            var i = Model.Count();
                            foreach(var item in Model) {
                                <tr>
                                    <td class="text-left">@item.Division</td>
                                    <td class="text-left">@item.Department</td>
                                    <td class="text-left">@item.Shift</td>
                                    <td class="text-left">@item.Line</td>
                                    <td class="text-left">@item.EmpID</td>
                                    <td class="text-left">@item.Name</td>
                                    <td class="text-left">@item.Operation</td>
                                    <td>@string.Format("{0:MM/dd/yyyy}" ,item.uploaddate)</td>
                                    <td class="text-left">@item.ShiftStart</td>
                                    <td class="text-left">@item.ActualStart</td>
                                    <td class="text-left">@item.ShiftEnd</td>
                                    <td class="text-left">@item.ActualEnd</td>
                                    <td class="text-left">@item.Late</td>
                                    <td class="text-left">@item.Soon</td>
                                    <td class="text-left">@item.Abnormal</td>
                                    <td class="text-left">@item.MailAdmin</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/themes/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('.isdate').datepicker({ dateFormat: "mm/dd/yy" });
        });

        function SendEmail() {
            if (!confirm("Bạn muốn gửi thông báo yêu cầu tạo phiếu bất thường"))
                return false;
            App.blockUI('body');
            $.ajax({
                url: '/Abnormal/sendmail',
                method: 'get',
                success: function () {
                    App.unblockUI($("body"));
                    alert("Email đã được gửi thành công.");

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus + ": " + errorThrown + "____" + jqXHR);
                    App.unblockUI($("body"));
                    alert('Error! Please retry or contact to IT team.');
                }
            });
        }

    </script>
}