@using ProductionApp.Models
@model List<ViewCTTableMonitoringModel>
@{
}


<table class="table-hover table" style="width:100%; border:0px none; float: left; margin-top:15px;" cellpadding="0" cellspacing="0">
    <thead style="border:1px solid black;">
        <tr>
            <td style="width:2%;">
                <div style="height:20px; width:20px; border-color:black; border-style:solid; background-color:#d3d3d3; border-width:1px;"></div>
            </td>
            <td style="width:10%;">
                Cut Done
            </td>
            <td style="width:2%;">
                <div style="height:20px; width:20px; border-color:black; border-style:solid; background-color:yellow; border-width:1px"></div>
            </td>
            <td style="width:10%;">
                OVER DUE(4h)
            </td>
            <td style="width:2%;">
                <div style="height:20px; width:20px; border-color:black; border-style:solid; background-color:orange; border-width:1px"></div>
            </td>
            <td style="width:10%;">
                ENDLINE CHECKING
            </td>

            <td style="width:2%;">
                <div style="height:20px; width:20px; border-color:black; border-style:solid; background-color:orangered; border-width:1px"></div>
            </td>
            <td style="width:10%;">
                ENDLINE REJECT
            </td>
            <td style="width:2%;">
                <div style="height:20px; width:20px; border-color:black; border-style:solid; background-color:greenyellow; border-width:1px"></div>
            </td>
            <td style="width:10%;">
                ENDLINE PASS
            </td>
            <td style="width:40%;"></td>
        </tr>
    </thead>

</table>
@using(Html.BeginForm("UpdateTblConf" ,"CTModule" ,FormMethod.Post ,new { enctype = "multipart/form-data" })) {
    if(Model != null) {
        int i = 0;
        <table class="table-hover table" style="width:100%; border:1px solid black; float:left">
            <thead>
                <tr>
                    <td style="text-align:center; background-color:beige; font:bold 16px arial" colspan="6"></td>
                </tr>
                <tr style="text-align:center; font:bold 13px arial">
                    <td width="4%">ID</td>
                    <td width="4%">Process</td>
                    <td>WO#</td>
                    <td>Qty</td>
                    <td>Type</td>
                    <td width="25%">Confirm</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model) {
                    i += 1;
                    <tr>
                        <td>@item.OrderTblID</td>
                        <td>@item.Process</td>
                        <td style="background-color:@item.color;">@item.WO</td>
                        <td>@item.Quantity</td>
                        <td>@item.type</td>
                        <td>
                            <input type="text" tabindex="@(3+i)" class="form-control" name="TxtConf@(item.OrderTblID)" id="TxtConf@(item.OrderTblID)" @(item.Process > 20 ? "disabled" : "") />
                            <input type="text" name="TxtTblID@(i)" value="@item.OrderTblID" id="TxtTblID @i" hidden />
                            <input type="text" name="TxtStt@(i)" value="@item.Status" hidden />
                            <input type="text" name="Txtmarker@(i)" value="@item.MARKER" hidden />
                        </td>

                    </tr>
                }

                <tr>
                    <td colspan="7" align="center">
                        <input type="text" name="TxtTotal" id="TxtTotal" value="@i" hidden />
                        <input type="submit" name="Submit" id="Submit" value="Update" class="btn green purple-stripe margin-bottom-10" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
}